<h1>Whatap Test!</h1>

<form method="GET" action="/users/get">
	<h3>get</h3>
	<input type="text" name="limit" placeholder="limit (count)">
	<input type="submit">
</form>


<p>result :  {{result}} </p>